.header {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    padding: 10px;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    gap: 10px;
}

.search {
    flex: 1;
}